.footer {
    background-color: var(--backcolor-grey);
    padding-top: 60px;
    padding-bottom: 60px;
    margin: 0 auto;
  }
  
  .logo--footer{
    display: inline-block;
    margin-bottom: 20px;
    color: var(--text-white);
  }
  .footer-link {
    color: var(--text-white);
    transition: var(--transition-color);
  }
  
  .clarity {
    display: block;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--color-clarity);
    &:hover,
    &:focus {
    color: var(--color-accent);
  }
  }
  .mail {
    margin-bottom: 9px;
  }
  
  .map {
    display: block;
    margin-bottom: 9px;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    &:hover,
    &:focus {
    color: var(--color-accent);
  }
  }
  
  .footer-address {
    display: block;
    width: 231px;
  }
  .footer-container {
    display: flex;
    align-items: baseline;
  }
  .address {
    flex-direction: column;
    margin-right: 70px;
  }