.hero {
  margin: 0 auto;
  padding: 118px 0px;
  background-color: var(--backcolor-grey);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/hero-mobile-1x.jpg);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/hero-mobile-2x.jpg);
  background-repeat: no-repeat;
  max-width: 480px;
  max-height: 400px;
  text-align: center;
  background-position: center;
  background-size: cover;

  @media screen and (min-width: 768px) {
    padding: 118px 0px;
    background-color: var(--backcolor-grey);

    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../img/hero-tablet-1x.jpg);
    background-repeat: no-repeat;
    max-width: 768px;
    max-height: 400px;
    margin: 0 auto;
    text-align: center;
    background-position: center;
    background-size: cover;
  }
  @media screen and (min-width: 1200px) {
    padding: 200px 0px;
    background-color: var(--backcolor-grey);

    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../img/hero-desktop-1x.jpg);
    background-repeat: no-repeat;
    max-width: 1600px;
    max-height: 600px;
    margin: 0 auto;
    text-align: center;
    background-position: center;
    background-size: cover;
  }
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text-white);
  margin: 0px auto 30px auto;
  @media screen and (min-width: 768px) {
    max-width: 360px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 16px;
  min-width: 200px;
  @media screen and (min-width: 1200px) {
    padding: 10px 32px;
    min-width: 216px;
  }
}
