.mobile-menu__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.mobile-menu__container {
  //   display: none;
  position: relative;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  padding: 48px 40px;

  @media screen and(min-width:768px) {
    display: none;
  }
}
.mobile-menu-flex {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}
.mobile-menu__button-close {
  position: absolute;
  top: 10px;
  right: 15px;
  display: block;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  width: 40px;
  height: 40px;
  border: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: var(--color-accent);
  }
}
.mobile-menu__pages-link {
  position: relative;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-title);
  transition: var(--transition-color);
  &:hover,
  &:focus {
    color: var(--color-accent);
  }
}
.mobile-menu__pages-item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__pages-link.accent {
  color: var(--color-accent);
  &::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    height: 4px;
    width: 100%;
    background-color: var(--color-accent);
    border-radius: 2px;
    overflow: hidden;
  }
}
.mobile-menu__pages {
  margin-bottom: 30px;
}

.mobile-menu__contacts {
  margin-bottom: 64px;
}
.mobile-menu__contacts-item:not(:last-child) {
  margin-bottom: 32px;
}
.mobile-menu__contacts-link-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--color-text);
}
.mobile-menu__contacts-link.tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--color-accent);
}

.mobile-menu__soc-list {
  display: flex;
  gap: 10px;
}
.mobile-menu__soc-item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.mobile-menu__soc-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--color-accent);
}

.mobile-menu__container.is-hidden {
  display: none;
}
