.projects__title {
    margin-bottom: 50px;
  }
  
  .projects {
    padding-bottom: 94px;
  }
  
  .projects-list {
    display: flex;
    gap: 30px;
  }
  
  .projects-list__item {
    position: relative;
    flex-basis: calc(100% - 60px / 3);
  }
  .projects-list__text {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    left: 0;
    background-color: rgba(47, 48, 58, 0.8);
    width: 100%;
    height: 70px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--text-white);
  }